services:
  - type: web
    name: blog-app
    runtime: node
    buildCommand: npm install && npm run build && npm run build:backend
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: SECRET
        sync: false
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
