name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  SKIP: ${{ contains(toJson(github.event.commits.*.message), '#skip') }}

jobs:
    simple_deployment_pipeline:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-node@v4
            with:
              node-version: '20'
          - name: Install dependencies
            run: npm install
          - name: Check style
            run: npm run eslint
          - name: build
            run: npm run build
          - name: Test frontend
            run: npm run test:blogs
          - name: Deploy to Render
            if: ${{ github.event_name == 'push' && env.SKIP == 'false' }}
            uses: johnbeynon/render-deploy-action@v0.0.8
            with:
              service-id: ${{ secrets.RENDER_SERVICE_ID }}
              api-key: ${{ secrets.RENDER_API_KEY }}
